<h1>Listar Salas</h1>

<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <ba-card title="Responsive Table" baCardClass="with-scroll table-panel">
        <div class="vertical-scroll">
          <table class="table">
            <tr>
              <th>Rut</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>NN</th>
              <th>NN</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </ba-card>
    </div>
  </div>

</div>
